<h1><%= @category.name %> Articles</h1>

<h3>There are <%= @category.articles.count %> articles filed under <%= @category.name %></h3>
<ul>
  <% @category.articles.order(:title).each do |article| %>
    <h4>
      <%= link_to article.title, article %>
    </h4>
  <% end %>
</ul>
